<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div align="center" class="container mt-3">
<h1>Welcome to Employee Management System</h1>
<h3>Update Employee</h3>
<form th:action="@{processUpdateEmployee}" method="post" th:object="${emp}">
<table class="table table-bordered table-sm">
<tr><td>Emp Id</td><td><input type="text" th:field="*{empId}" readonly="readonly"></td></tr>
<tr><td>Name</td><td><input type="text" th:field="*{empName}"></td></tr>
<tr><td>Designation</td><td><input type="text" th:field="*{designation}"></td></tr>
<tr><td>Salary</td><td><input type="text" th:field="*{salary}"></td></tr>
<tr><td colspan="2" align="center"><input type="submit" value="Update Employee" class="btn btn-primary btn-sm"></td></tr>
</table>
</form>
</div>
</body>
</html>
